<div style="
  position:absolute; 
  top:20px; 
  left:20px; 
  display:flex; 
  flex-direction:column; 
  gap:10px;
">
  <div id="statuscafe" style="padding:5px; background:#fff; border:1px solid #ccc; max-width:250px;">
    <div id="statuscafe-username"></div>
    <div id="statuscafe-content"></div>
  </div>

  <a href="https://www.imood.com/users/durokotte" style="display:inline-block;" rel="noopener noreferrer">
    <img src="https://moods.imood.com/display/uname-durokotte/trans-1/imood.gif" 
         alt="The current mood of durokotte at www.imood.com" border="0">
  </a>

  <a href="https://piclog.blue/profile.php?id=535" rel="noopener noreferrer">
    <img src="https://piclog.blue/latest.php?id=535" alt="Latest piclog post of user 535">
  </a>


  <div style="margin-top:6px; display:flex; flex-direction:column; align-items:flex-start; gap:4px;">
    <img src="/assets/iaminsane.gif" alt="badge" width="88" height="31" style="display:block;">
    <div style="font-size:12px; line-height:1.1; max-width:250px;">
      please dont hotlink my button or i will dissolve your website with acid
    </div>
  </div>
</div>

<script src="https://status.cafe/current-status.js?name=lelbois" defer></script>
