<div style="
  position:absolute; 
  top:20px; 
  left:20px; 
  display:flex; 
  flex-direction:column; 
  gap:10px;
">
  <div id="statuscafe" style="padding:5px; background:#fff; border:1px solid #ccc; max-width:250px;">
    <div id="statuscafe-username"></div>
    <div id="statuscafe-content"></div>
  </div>

 <a href="https://www.imood.com/users/durokotte" style="display:inline-block;">
    <img src="https://moods.imood.com/display/uname-durokotte/trans-1/imood.gif" 
         alt="The current mood of durokotte at www.imood.com" border="0">
         
      <a href="https://piclog.blue/profile.php?id=535">
    <img src="https://piclog.blue/latest.php?id=535" alt="Latest piclog post of user 535">
  </a>
</div>

<script src="https://status.cafe/current-status.js?name=lelbois" defer></script>
